#banner{
	border: 1px solid black;
	text-align: center;
}
#menu-left{
	border: 1px solid black;
}
#body{
	border: 1px solid black;

}
#footer{
	border: 1px solid black;
	text-align: center;
}
.cotainer{
	padding: 0px;
}